{% extends 'common/base.html' %}
{% load staticfiles %}
{% block css %}
  <link href="{% static 'css/posts/base.css' %}" rel="stylesheet">
{% endblock %}
{% block post_css %}{% endblock %}

{% block nav-left %}
  <ul id="nav-mobile" class="side-nav fixed">
    <li class="logo" style="text-align:center;margin-top:32px;margin-bottom:140px;"><a id="logo-container" href="/" class="brand-logo">
        <img style="width:220px;margin-bottom:32px;" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png">
    </a></li>
    <!--<li class="search">
      <div class="search-wrapper card">
        <input id="search"><i class="material-icons">search</i>
        <div class="search-results"></div>
      </div>
    </li>-->
    {% for region_item in regions %}
      {% if region_item.no_board %}
        <li class="bold"><a href="{% url 'post:list_no_board' region=region_item.address %}"
                            class="waves-effect waves-teal">{{ region_item.name }}</a></li>
      {% else %}
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold">
              <a class="collapsible-header waves-effect waves-teal">{{ region_item.name }}</a>
              <div class="collapsible-body">
                <ul>
                  {% for board_item in region_item.board_of_region.all %}
                  <li><a href="{% url 'post:list' region=region_item.address board=board_item.address %}">{{ board_item.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </li>
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}

{% block post_js %}{% endblock %}
