{% extends 'common/base.html' %}
{% load staticfiles %}
{% block css %}
  <link href="{% static 'css/questions/base.css' %}" rel="stylesheet">
{% endblock %}
{% block question_css %}{% endblock %}

{% block nav-left %}
  <ul id="nav-mobile" class="side-nav fixed">
    <li class="logo" style="text-align:center;margin-top:32px;margin-bottom:140px;"><a style="font-size: 52px" id="logo-container" href="/" class="brand-logo">
        Logo
    </a></li>
    <!--<li class="search">
      <div class="search-wrapper card">
        <input id="search"><i class="material-icons">search</i>
        <div class="search-results"></div>
      </div>
    </li>-->

      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          {% for region_item in regions %}
            {% if region_item.board_of_region.all|length > 0 %}
          <li class="bold">
            <a class="collapsible-header waves-effect waves-teal">{{ region_item.name }}</a>
            <div class="collapsible-body">
              <ul>
                {% for board_item in region_item.board_of_region.all %}
                <li><a href="{% url 'questions:list' region_item.address board_item.address %}">
                  {{ board_item.name }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>

  </ul>
{% endblock %}
{% block content %}
  <div class="container">
    {% block question_breadcrumb %}
    <nav style="margin: 20px 0;">
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="{% url 'questions:index' %}" class="breadcrumb">首页</a>
          <a href="{% url 'questions:list' current_region.address current_region.address %}"
             class="breadcrumb">{{ current_region.name }}</a>
          <a href="{% if current_region.no_board %}
            {% url 'questions:list_no_board' current_region.address %}
            {% else %}{% url 'questions:list' current_region.address current_board.address %}
            {% endif %}" class="breadcrumb">{{ current_board.name }}</a>
        </div>
      </div>
    </nav>
    {% endblock %}
    {% block question_main_content %}{% endblock %}
  </div>
{% endblock %}
{% block js %}
  {% block question_js %}{% endblock %}
{% endblock %}
