{% extends 'common/base.html' %}
{% load staticfiles %}
{% block title %}注册{% endblock %}
{% block css %}
  <link href="{% static 'css/users/register.css' %}" rel="stylesheet">
{% endblock %}
{% block nav_login_ref %}{% endblock %}
{% block nav_register_ref %}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <form id="register-form" class="col s12 m6 offset-m3" method="post"
            action="{% url 'account:register' %}">
        {% csrf_token %}
        <div class="card-panel">
          <div class="row">
            <h4 class="center">注册</h4>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="username" class="validate" name="username" type="text"
                     minlength="2" maxlength="16">
              <label for="username" data-error="用户名为4-16个英文或2-8个中文字符">用户名</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <input id="password" class="validate" name="password"
                     type="password" data-length="32" maxlength="32" minlength="8">
              <label for="password" data-error="密码长度为8-32位">密码</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input id="email" class="validate" name="email" type="email" maxlength="32" required>
              <label for="email" data-error="请输入正确的邮箱格式，如you@example.org">Email</label>
            </div>
          </div>
          <div class="row">
            <button  class="waves-effect waves-light btn col l8 m10 s12 offset-l2 offset-m1"
                     type="submit" name="action">注册</button >
          </div>
        </div>

      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'js/users/register.js' %}?v=2"></script>
  <script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js"></script>
{% endblock %}